<div class="body-edit">
  <div>
    <% if @user.image? %>
      <%= image_tag(@user.image.url, alt: "User Avatar", class:" rounded-circle", style: 'height:200px;width:200px') %>
    <% else %>
        <%= image_tag('user.jpg', alt: "User Avatar", class: " rounded-circle", style: 'height:200px;width:200px') %>
    <% end %>
  </div>
  <div>
    <%= render "users/button"%>
    <h2 style="font-size: 40px"> <%= @user.firstname %> <%= @user.lastname %></h2>
    <div class="body-edit-item" >

    <p>
    <% if current_page?(view_user_path) %>
      <%= link_to:"view_user", class: "btn mx-1 text-decoration-none fs-4", style: "color: blue;" do %>
          <span ><%= @photos.size %> </span>PHOTOS
      <% end %>
    
        <% else %>
        <%= link_to:"view_user", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
          <span ><%= @photos.size %> </span>PHOTOS
      <% end %>
    <% end %>
    </p>

    <p>
    <% if current_page?(view_user_album_path) %>
       <%= link_to:"view_user_album", class: "btn mx-1 text-decoration-none fs-4", style: "color: blue;" do %>
          <span ><%= @albums.size %> </span>ALBUMS
      <% end %>
    
      <% else %>
        <%= link_to:"view_user_album", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
          <span ><%= @albums.size %> </span>ALBUMS
      <% end %>
    <% end %>
    </p>
    

    <p>
    <% if current_page?(view_user_following_path) %>
        <%= link_to:"view_user_following", class: "btn mx-1 text-decoration-none fs-4", style: "color: blue;" do %>
            <span ><%= @followings.size %> </span>FOLLOWINGS
        <% end %>
    
      <% else %>
        <%= link_to:"view_user_following", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
            <span ><%= @followings.size %> </span>FOLLOWINGS
        <% end %>
    <% end %>
    </p>


    <p>
    <% if current_page?(view_user_follower_path) %>
      <%= link_to:"view_user_follower", class: "btn mx-1 text-decoration-none fs-4", style: "color: blue;" do %>
          <span ><%= @followers.size %> </span>FOLLOWERS
      <% end %>
    
      <% else %>
        <%= link_to:"view_user_follower", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
            <span ><%= @followers.size %> </span>FOLLOWERS
        <% end %>
    <% end %>
    </p>      


    
  </div>
  </div>
</div>







