<div class="body-edit">
  <div>
    <% if @user.image? %>
      <%= image_tag(@user.image.url, alt: "User Avatar", class:" rounded-circle", style: 'height:200px;width:200px') %>
    <% else %>
        <%= image_tag('user.jpg', alt: "User Avatar", class: " rounded-circle", style: 'height:200px;width:200px') %>
    <% end %>
  </div>
  <div>
    <%= render "users/button"%>
    <h2 style="font-size: 40px"> <%= @user.firstname %> <%= @user.lastname %></h2>
    <div class="body-edit-item" >
    <p>
    <%= link_to:"view_user", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
        <span ><%= @photos.size %> </span>PHOTOS
    <% end %>
    </p>
    <p> <%= link_to:"view_user_album", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
        <span ><%= @albums.size %> </span>ALBUM
    <% end %>
    </p>
    <p> <%= link_to:"view_user_following", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
        <span ><%= @followings.size %> </span>FOLLOWINGS
    <% end %>
    </p>
    <p> <%= link_to:"view_user_follower", class: "btn mx-1 text-decoration-none fs-4", style: "color: black;" do %>
        <span ><%= @followers.size %> </span>FOLLOWERS
    <% end %>
    </p>
  </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll(".btn");
    buttons.forEach(button => {
      button.addEventListener("click", function() {
        buttons.forEach(btn => {
          btn.classList.remove("btn-secondary"); 
          # Xóa class btn-secondary khỏi tất cả các button
        });
        this.classList.add("btn-secondary"); 
          #Thêm class btn-secondary vào button đang được bấm
      });
    });
  });
</script>