
<%= render 'users/header' %>
<div  class="row">
    <% @albums.each do |album| %>
        <div class="col-3">
            <div class="", style="margin: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); padding:5px; height: 250px " >
                <div class="profile-album-card ">
                    <% album.photos.each_with_index do |photo, index| %>
                        <div class= "album-photo-image">
                            <%= image_tag(photo.image.url, alt: "Photo Picture", class: "img-thumbnail rotate-image-#{index}" )%>
                        </div>
                    <% end %>
                   
                </div>
             
            </div> 
            <div style="font-size: 20px; text-align: center">
                <p class="card-text"><%= album.name %></p> 
            </div> 
        </div>
    <% end %> 
    <% @albums.each do |album| %>
        <div class="col-3">
            <div class="", style="margin: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); padding:5px; height: 250px " >
                <div class="profile-album-card ">
                    <% album.photos.each_with_index do |photo, index| %>
                        <div class= "album-photo-image">
                            <%= image_tag(photo.image.url, alt: "Photo Picture", class: "img-thumbnail rotate-image-#{index}" )%>
                        </div>
                    <% end %>
                   
                </div>
             
            </div> 
            <div style="font-size: 20px; text-align: center">
                <p class="card-text"><%= album.name %></p> 
            </div> 
        </div>
    <% end %> 
    <% @albums.each do |album| %>
        <div class="col-3">
            <div class="", style="margin: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); padding:5px; height: 250px " >
                <div class="profile-album-card ">
                    <% album.photos.each_with_index do |photo, index| %>
                        <div class= "album-photo-image">
                            <%= image_tag(photo.image.url, alt: "Photo Picture", class: "img-thumbnail rotate-image-#{index}" )%>
                        </div>
                    <% end %>
                   
                </div>
             
            </div> 
            <div style="font-size: 20px; text-align: center">
                <p class="card-text"><%= album.name %></p> 
            </div> 
        </div>
    <% end %> 
    
              
</div>
