<%= render 'users/header' %>


<div style="display: flex; flex-wrap: wrap">
  <% @photos.each do |photo| %>
      <div class="user-photo" >
        <% if photo.image? %>
          <div class="user-photo-img">
            <%= image_tag url_for(photo.image.url), class: 'photo-image img-thumbnail' %>
          </div>
          <div style="text-align:center">
            <p> <%= photo.name %></p>
          </div>
        <% else %>
          <p>No image available.</p>
      
        <% end %>
      </div>
  <% end %>   
  <% @photos.each do |photo| %>
    <div class="user-photo" >
      <% if photo.image? %>
        <div class="user-photo-img">
          <%= image_tag url_for(photo.image.url), class: 'photo-image img-thumbnail' %>
        </div>
        <div style="text-align:center">
          <p> <%= photo.name %></p>
        </div>
      <% else %>
        <p>No image available.</p>
    
      <% end %>
    </div>
<% end %>   
<% @photos.each do |photo| %>
  <div class="user-photo" >
    <% if photo.image? %>
      <div class="user-photo-img">
        <%= image_tag url_for(photo.image.url), class: 'photo-image img-thumbnail' %>
      </div>
      <div style="text-align:center">
        <p> <%= photo.name %></p>
      </div>
    <% else %>
      <p>No image available.</p>
  
    <% end %>
  </div>
<% end %> 
<% @photos.each do |photo| %>
  <div class="user-photo" >
    <% if photo.image? %>
      <div class="user-photo-img">
        <%= image_tag url_for(photo.image.url), class: 'photo-image img-thumbnail' %>
      </div>
      <div style="text-align:center">
        <p> <%= photo.name %></p>
      </div>
    <% else %>
      <p>No image available.</p>
  
    <% end %>
  </div>
<% end %> 
</div>
