<%= render "users/header" %>

<div  class="row">
    

    <% @users_followers.each do |f| %>
        <div class="col-3">
            <div class="user-photo", style="text-align:center; height: 350px; width: 95%;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); margin: 2% " >
                <div class="mt-5">
                <% if f.image? %>
                    <%= image_tag(f.image.url, alt: "User Avatar", class:"mt-5 rounded-circle ", style: 'height:120px;width:120px' ) %>
                <% else %>
                    <%= image_tag('user.jpg', alt: "User Avatar", class: "mt-5 rounded-circle", style: 'height:120px;width:120px') %>
                <% end %>
                </div>
                <div>
                    <h2 style="font-size: 20px"> <%= f.firstname %> <%= f.lastname %></h2>
                    <div style="display:flex; justify-content: center">
                        <div style= "color: blue; margin-right: 12px">
                            <h1 style="text-align:center" ><%= f.photos.size %> </h1>
                            <p> PHOTO </p>
                        </div>
                        <div style= "color: blue; margin-left: 12px">
                            <h1 style="text-align:center"  ><%= f.albums.size %> </h1>
                            <p> ALBUM </p>
                        </div>
                    </div>
                </div>
                <% if f.id != current_user.id %>
                    <% if f.followers.include?(current_user) %>
                        <%= link_to "Following", root_path, class: "btn ", style: "border-radius: 10px; border: 1px solid orangered; margin-left: 10px; background: linear-gradient(to right, #FFDAB9, #FF4500); color: white;" %>
                    <% else %>
                        <%= form_with url: user_follow_path, method: :post, id: "follow-form", style: "display: none;" do |form| %>
                        <%= form.hidden_field :user_id, value: f.id %>
                        <%= form.submit "Follow", class: "btn follow-button", style: "border-radius: 10px; border: 1px solid orangered; margin-left: 10px; background-color: white; color: orangered;" %>
                        <% end %>
                    <% end %> 
                <% end %>
            </div>
        </div>
    <% end %>
</div>

