<%= form_with(model: @album, url: albums_path) do |form| %>
  <div class="row">
    <div class="col-6">
      <div class="form-outline mb-4 w-100">
        <%= form.label :name %>
        <%= form.text_field :name,class: "form-control form-control-lg" %>
      </div>
      <div class="form-outline mb-4 w-100">
        <%= form.label :is_active, 'Sharing Mode' %>
        <%= form.select :is_active, [['Public', 1], ['Private', 0]], { selected: album.is_active ? 1 : 0 }, class: 'form-select' %>
      </div>

    </div>
    <div class="col-6">
      <div class="form-outline mb-4 w-100">
        <%= form.label :des %>
        <%= form.text_area :des,class: "form-control form-control-lg" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="field">
  
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>
    
    </div>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>