<p style="color: green"><%= notice %></p>

<h1>Photos</h1>

<div  style="display:flex; flex-wrap: wrap">
<% @photos.each do |photo| %>

<div class="card photo-container" style="width: 49%; margin: 0.5%">
  <div style="display:flex;">
    <%= image_tag photo.avatar.url if photo.avatar? %>
    <div class="card-body photo-details">
      <h5 class="card-title"><%= photo.name %></h5>
      <p class="card-text"><%= photo.des %></p>
      
    </div>
  </div>
</div>
               
<% end %>
</div>
                  
  

<%= link_to "New photo", new_photo_path %>


