<h1><%= @photo.name %></h1>
<%= image_tag @photo.avatar.url if @photo.avatar? %>

<p><strong>Description:</strong></p>
<p><%= @photo.des %></p>

<p><strong>Sharing Mode:</strong></p>
<p><%= @photo.is_active ? 'Public' : 'Private' %></p>


<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to 'Back', photos_path %>
