
<div class="header container-fluid text-center">
        <div class="row" >
          <div class="col">
              <h4 style="text-align: right!important; font-size: 30px">Fotobook</h3>
          </div>
          <div class="col-8">
            <div class="header-item-2" style="height: 100%">
              
                <div>            
                    <input class="header-input" style=" height: 100%" type="text" placeholder="   Search photo/albums">
                </div>
                <% if current_user %>
                <div class="item-2-item ">
                    <div style="display: flex;">
                    <% if current_user.image? %>
                    <%= image_tag(current_user.image.url, alt: "User Avatar", class:"imgavt   rounded-circle ") %>
                    <% else %>
                        <%= image_tag('user.jpg', alt: "User Avatar", class: "imgavt  rounded-circle") %>
                    <% end %>
                    <%= link_to "#{current_user.firstname} #{current_user.lastname}", view_user_path(current_user), class: "text-decoration-none", style: "font-size: 20px; margin-top: 10px; color: white" %>
                    </div>
                </div>
               
                <% end %>
            </div>
          </div>
          <div class="col" style="height: 100%">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div >
                        <% if current_user %>
                            <%= button_to "Logout", destroy_user_session_path, method: :delete, style: "color: white; font-size: 20px", class: "btn btn-small btn-primary mx-2" %>
                        <% else %>
                            <%= link_to "Login", new_user_session_path, class: "nav-link", style: "color: white; font-size: 20px"  %>
                        <% end %>
                    </div>
                </div>
          </div>
        </div>
</div>

